hr {
  border-top: 3px solid #ccc; }

.text-center {
  text-align: center; }

.mui-layout {
  background-position: center -120px;
  background-size: cover;
  background-repeat: no-repeat; }
  .mui-layout .mdl-layout__header, .mui-layout .mdl-layout__drawer-button {
    color: white; }

.mdl-layout__drawer select {
  background-color: transparent;
  border: none;
  font-weight: bold;
  width: 70%;
  margin: 0 auto; }

header {
  color: #fff;
  padding-top: 100px;
  padding-bottom: 120px; }
  header select {
    background-color: transparent;
    border: none;
    font-weight: 100;
    color: #fff; }
  header select:active {
    color: #000; }
  header p {
    font-weight: bold;
    font-size: 20px; }
  header .mdl-button {
    margin: auto 35px; }
  header h3 {
    font-size: 7em;
    font-weight: bolder;
    color: #fff; }
  header hr {
    width: 40px;
    margin: 20px auto;
    margin-top: 125px;
    border-top-color: #fff; }

.features {
  background-color: #fff;
  margin-top: -35px;
  padding: 80px 0px; }
  .features section {
    width: 95%;
    margin: 0 auto; }
  .features b {
    font-size: 18px; }
  .features h3 {
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 0; }
  .features hr {
    width: 40px;
    margin: 20px auto;
    margin-bottom: 50px;
    border-top-color: red; }
  .features .mdl-grid .mdl-cell {
    text-align: left;
    padding: 20px; }
  .features .mdl-grid p {
    color: #777575; }
  .features .mdl-grid .description {
    color: #000;
    font-size: 20px; }
  .features .mdl-grid img {
    float: left;
    width: 64px;
    padding: 5px 10px; }

.team {
  background-color: white;
  color: #000;
  width: 80%;
  padding: 0px 10%; }
  .team .mdl-grid .mdl-cell {
    background: rgba(238, 238, 238, 0.46);
    margin-top: 55px;
    text-align: center; }
    .team .mdl-grid .mdl-cell hr {
      margin: 15px auto; }
  .team .mdl-grid img {
    margin: 0 auto;
    display: block;
    float: none;
    width: 100px;
    padding: 20px 10px;
    border-radius: 25px;
    border-radius: 50%;
    position: relative;
    top: -95px; }
  .team p.role {
    color: #16c1f3; }
  .team .role {
    font-weight: bold;
    font-size: 19px; }

.achieve {
  padding: 285px; }
  .achieve hr {
    margin-top: 0px;
    border-top-color: red; }
  .achieve h4 {
    font-weight: bold;
    font-size: 5em;
    color: #000; }

.help .mdl-grid .mdl-cell {
  text-align: center; }
.help p {
  font-size: 19px; }

.donate {
  background-color: #fff;
  margin-top: -35px;
  padding: 80px 0px; }
  .donate .mdl-cell {
    text-align: left; }
    .donate .mdl-cell .donate-section {
      width: 50%;
      margin: 0px auto;
      text-align: center;
      padding: 20px; }
    .donate .mdl-cell img {
      width: 100px;
      display: block;
      margin: 0 auto; }
    .donate .mdl-cell span {
      font-weight: bold;
      font-size: 16px;
      padding: 15px;
      display: block; }

.circle {
  margin: 0 auto;
  border: 2px solid #0ee;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  line-height: 120px;
  font-size: 25px;
  color: #000;
  position: relative;
  font-weight: bold; }

.circle.empty {
  border-color: #fff; }

.security h3 {
  margin-top: 40px; }
.security hr {
  margin-bottom: 20px; }

.mdl-mega-footer {
  background-color: #424242; }
  .mdl-mega-footer p {
    width: 75%; }
    .mdl-mega-footer p a {
      color: inherit;
      padding: 10px; }
    .mdl-mega-footer p a:hover, .mdl-mega-footer p a:active {
      color: inherit; }
  .mdl-mega-footer .mdl-mega-footer__bottom-section {
    width: 50%;
    margin: 0 auto;
    text-align: center; }
  .mdl-mega-footer .mdl-logo img {
    width: 120px; }

/*# sourceMappingURL=app.css.map */
