body{

}
hr{
  border-top: 3px solid #ccc;
}
.text-center{text-align: center;}
.mui-layout {
  background-position: center -120px;
  background-size: cover;
  background-repeat: no-repeat;
  .mdl-layout__header, .mdl-layout__drawer-button {
    color: white;
  }
}
.mdl-layout__header--transparent.mdl-layout__header--transparent,header{
  //background: rgba(51, 153, 54, 0.5);
}
.mdl-layout__drawer{
  select{
    background-color: transparent;
    border: none;
    font-weight: bold;
    width: 70%;
    margin: 0 auto;
  }
}
header{
  color: #fff;
  padding-top: 100px;
  padding-bottom: 120px;
  select{
    background-color: transparent;
    border: none;
    font-weight: 100;
    color: #fff;
  }
  select:active{
    color: #000;
  }
  p{
    font-weight: bold;
    font-size: 20px;
  }
  .mdl-button{
    margin: auto 35px;
  }
  h3{
    font-size: 7em;
    font-weight: bolder;
    color: #fff;
  }
  hr{
    width: 40px;
    margin: 20px auto;
    margin-top: 125px;
    border-top-color: #fff;
  }
}
.features{
  background-color: #fff;
  margin-top: -35px;
  padding: 80px 0px;
  section{
    width: 95%;
    margin: 0 auto;
  }
  b{
    font-size: 18px;
  }
  h3{
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 0;
  }
  hr{
    width: 40px;
    margin: 20px auto;
    margin-bottom: 50px;
    border-top-color: red;
  }
  .mdl-grid{
    .mdl-cell{
      text-align: left;
      padding: 20px;
    }
    p{
      color: #777575;
    }
    .description{
      color: #000;
      font-size: 20px;
    }
    img{
      float: left;
      width: 64px;
      padding: 5px 10px;
    }
  }
}
.team{
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  .mdl-grid{
    .mdl-cell{
      background: rgba(238, 238, 238, 0.46);
      margin-top: 55px;
      text-align: center;
      hr{
          margin: 15px auto;
      }
    }
    img{
      margin: 0 auto;
      display: block;
      float: none;
      width: 100px;
      padding: 20px 10px;
      border-radius: 25px;
      border-radius: 50%;
      position: relative;
      top: -95px;
    }
  }
  p.role{
    color: #16c1f3;
  }
  .role{
    font-weight: bold;
    font-size: 19px;
  }
}
.achieve{
  padding: 285px;
  hr{
    margin-top: 0px;
    border-top-color: red;
  }
  h4{
    font-weight: bold;
    font-size: 5em;
    color: #000;
  }
}
.help{
  .mdl-grid{
      .mdl-cell{
        text-align: center;
      }
  }
  p{
    font-size: 19px;
  }
}
.donate{
  background-color: #fff;
  margin-top: -35px;
  padding: 80px 0px;
  .mdl-cell{
    text-align: left;
    .donate-section{
      width: 50%;
      margin: 0px auto;
      text-align: center;
      padding: 20px;
    }
    img{
      width: 100px;
      display: block;
      margin: 0 auto;
    }
    span{
      font-weight: bold;
      font-size: 16px;
      padding: 15px;
      display: block;
    }
  }
}
.circle{
  margin: 0 auto;
  border: 2px solid #0ee;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  line-height: 120px;
  font-size: 25px;
  color: #000;
  position: relative;
  font-weight: bold;
}
.circle.empty{
  border-color: #fff;
}
.security{
  h3{
    margin-top: 40px;
  }
  hr{
    margin-bottom: 20px;
  }
}
.mdl-mega-footer{
  background-color: rgba(66, 66, 66,1);
  p{
    width: 75%;
    a{
      color: inherit;
      padding: 10px;
    }
    a:hover, a:active{
      color: inherit;
    }
  }
  .mdl-mega-footer__bottom-section{
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .mdl-logo {
    img{
      width: 120px;
    }
 }
}
